<md-card class="card" [portTypeIt]="false" #card="portTypeIt">
  <md-card-title class="title">{{title}}</md-card-title>
  <md-card-subtitle class="subtitle">{{subtitle}}</md-card-subtitle>
  <md-card-content class="content">{{content}}</md-card-content>
  <md-card-actions>
    <a
      md-icon-button
      class="github-button"
      href="https://github.com/ksmai/"
      target="_new"
    ></a>
  </md-card-actions>
</md-card>

<button
  md-raised-button
  color="primary"
  class="project-button"
  (click)="viewProjects()"
>VIEW PROJECTS</button>

<button
  md-raised-button
  color="warn"
  class="destroy-button"
  (click)="destroyPage()"
>DESTROY THIS PAGE</button>

<button
  md-icon-button
  color="accent"
  class="skip-button"
  (click)="skip()"
><md-icon>skip_next</md-icon></button>

<div class="background">
  <div class="overlay"></div>
</div>
