<nav class="navbar" [class.show]="show" (mouseover)="resetTimer()">
  <button
    md-icon-button
    color="primary"
    mdTooltip="ABOUT"
    mdTooltipPosition="left"
    (click)="scrollToAbout()"
  ><md-icon>account_circle</md-icon></button>

  <button
    md-icon-button
    color="warn"
    mdTooltip="PROJECTS"
    mdTooltipPosition="left"
    (click)="scrollToProjects()"
  ><md-icon>description</md-icon></button>

  <button
    md-icon-button
    color="accent"
    mdTooltip="CONTACT"
    mdTooltipPosition="left"
    (click)="scrollToContact()"
  ><md-icon>question_answer</md-icon></button>
</nav>
