.subheading {
  width: 100%;
  color: #fff;
  font: 36px "Roboto", sans-serif;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(to right, #fff, #303030, #fff) no-repeat;
  background-position: center;
  background-size: 100% 3px;
}
