:host {
  display: block;
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

.subheading {
  margin-bottom: calc(400px - 8vw);
}

.card {
  text-align: center;
}

md-input-container,
input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

.envelope {
  animation: scale-in .375s cubic-bezier(0, 0, .2, 1);
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 1001px) {
  .subheading {
    margin-bottom: 320px;
  }
}
