$ease-in-out: cubic-bezier(.4, 0, .2, 1);
$ease-explode: cubic-bezier(1, 0, 0, 1);

:host {
  display: block;
  padding: 50px 100px;
  text-align: center;
  min-height: 200px;
}

.card {
  width: 100%;
  max-width: 700px;
  margin: 70px auto 0;
  text-align: right;
}

md-input-container,
input,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

.backdrop {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 99px;
  cursor: pointer;
  padding: 8px 24px;
  transition:
    background-color .7s $ease-in-out .3s,
    padding .25s $ease-in-out,
    width .5s $ease-explode,
    left .5s $ease-explode,
    top .5s $ease-explode .1s,
    height .5s $ease-explode .1s,
    border-radius .3s $ease-in-out .3s;

  &:hover {
    background-color: #fff;
    padding: 8px 32px;

    .button-text {
      color: #303030;
    }
  }
}

:host(.open) {
  .backdrop {
    cursor: initial;
  }
}

:host(.animating) {
  .backdrop > * {
    display: none;
  }
}

.button-text {
  text-transform: uppercase;
  color: #fff;
  font: 16px/1 "Roboto", sans-serif;
  transition: color 1.1s cubic-bezier(.4, 0, .2, 1);
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
