:host {
  display: block;
  margin: 100px auto;
}

.card {
  width: 100%;
  margin: 0 auto 30px;
  transform-origin: center top;
  animation: slide-down .25s cubic-bezier(.4, 0, .6, 1);
}

.additional {
  display: none;
  background: none;
  box-shadow: none !important;
  padding-top: 0;
}

md-input-container,
input,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

@keyframes slide-down {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@media (min-width: 801px) {
  .card {
    display: inline-block;
    width: 50%;
  }

  .additional {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
