<div class="project-container">
  <h2 class="subheading">Projects</h2>

  <md-grid-list
    [cols]="cols"
    [gutterSize]="20"
    rowHeight="1535:876"
    portGridScaleIn="visible-tile"
  >
    <md-grid-tile
      *ngFor="let project of projects"
      class="tile"
    >
      <img
        class="thumbnail"
        [src]="project.thumbnail"
        [alt]="project.name"
      >

      <div class="info">
        <h3 class="title">
          {{project.name}}
          <a
            *ngIf="project.collaborators"
            [href]="project.github"
            target="_blank"
            md-icon-button
            mdTooltip="Collaborative work"
          ><md-icon>people</md-icon></a>
        </h3>
        <p class="subtitle">{{project.description}}</p>

        <div class="bullets">
          <div
            class="bullet bullet--technology"
            *ngFor="let tech of project.technology"
          >{{tech}}</div>

          <div
            *ngFor="let integration of project.integrations"
            class="bullet bullet--integration"
          >{{integration}}</div>
        </div>

        <div class="actions">
          <a md-button [href]="project.github" target="_blank">SOURCE</a>
          <a md-button [href]="project.url" target="_blank">DEMO</a>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
